<div class="container">
  <h2>Add User</h2><br>
  <form #form="ngForm" (submit)="onSubmit(form.value)">
    <div class="row">
      <div class="col-sm-6">
        <app-label [labelName]="'First name'" [isRequired]="true"></app-label>
        <app-input-field-text name="firstName" [(ngModel)]="firstName" [inputType]="'text'"></app-input-field-text>
        <div *ngIf="messageService.get() ">
          <div *ngFor = "let msg of messageService.messages">
            <div *ngIf = "msg.fieldName === 'firstName'"><b class="error-msg-server">{{msg.errorMessage}}</b></div>
          </div>
        </div>
      </div>
      <div class="col-sm-6">
        <app-label [labelName]="'Middle name'"></app-label>
        <app-input-field-text name="middleName" [(ngModel)]="middleName" [isRequired]="false" [inputType]="'text'"></app-input-field-text>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-6">
        <app-label [labelName]="'Last name'" [isRequired]="true"></app-label>
        <app-input-field-text name="lastName" [(ngModel)]="lastName" [inputType]="'text'"></app-input-field-text>
        <div *ngIf = "messageService.get()">
          <div *ngFor = "let msg of messageService.messages">
            <div *ngIf = "msg.fieldName === 'lastName'"><b class="error-msg-server">{{msg.errorMessage}}</b></div>
          </div>
        </div>
      </div>
      <div class="col-sm-6">
        <app-label [labelName]="'Email'" [isRequired]="true"></app-label>
        <app-input-field-email  name="emailAddress" [(ngModel)]="emailAddress"></app-input-field-email>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-6">
        <app-label [labelName]="'Address'" [isRequired]="true"></app-label>
        <app-input-field-text name="address" [(ngModel)]="address" [inputType]="'text'"></app-input-field-text>
      </div>
      <div class="col-sm-6">
        <app-label [labelName]="'Mobile'" [isRequired]="true"></app-label>
        <app-input-field-text name="mobileNumber" [(ngModel)]="mobileNumber" [inputType]="'number'"></app-input-field-text>
        <div *ngIf = "messageService.get()">
          <div *ngFor = "let msg of messageService.messages">
            <div *ngIf = "msg.fieldName === 'mobileNumber'"><b class="error-msg-server">{{msg.errorMessage}}</b></div>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-6">
        <app-label [labelName]="'Password'" [isRequired]="true"></app-label>
        <app-input-field-password  name="password" [(ngModel)]="password" ></app-input-field-password>
      </div>
      <div class="col-sm-6">
        <app-label [labelName]="'Confirm Password'" [isRequired]="true"></app-label>
        <app-input-field-password  name="confirm_password" [(ngModel)]="confirm_password" ></app-input-field-password>
      </div>
    </div>
    <!--<div class= "alert alert-danger" *ngIf = "messageService.get() && messageService.message2[0].fieldName === 'firstName'">{{messageService.message2[0].errorMessage}}</div>-->
    <!--<div  class= "alert alert-danger" *ngIf = "messageService.get() && messageService.message2[2].fieldName === 'lastName'">{{messageService.message2[2].errorMessage}}</div>-->
    <app-button buttonType="submit" buttonValue="Send"></app-button>
  </form>
</div>

<!--<div *ngIf = "messageService.get()">{{messageService.messages[0].errorMessage}}</div>-->
<!--<div *ngIf = "messageService.get() && messageService.messages[0].fieldName === 'firstName'">{{messageService.messages.length}}&#45;&#45;&#45;&#45;&#45;&#45;{{messageService.messages[1].errorMessage}}</div>-->
