<div class="container">
  <h2>Add User</h2><br>
  <form #form="ngForm" (submit)="onSubmit(form.value)">
    <div class="row">
      <div class="col-sm-6">
        <app-label [labelName]="'First name'" [isRequired]="true"></app-label>
        <app-input-field-text [formStatus]="firstNameStatusValue" (formStatusChanged)="firstNameStatusHandler($event)" name="firstName" [(ngModel)]="firstName" [inputType]="'text'"></app-input-field-text>
        <app-error [formStatusValue]=firstNameStatusValue [fieldName]="'firstName'"></app-error>
      </div>
      <div class="col-sm-6">
        <app-label [labelName]="'Middle name'"></app-label>
        <app-input-field-text name="middleName" [(ngModel)]="middleName" [isRequired]="false" [inputType]="'text'"></app-input-field-text>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-6">
        <app-label [labelName]="'Last name'" [isRequired]="true"></app-label>
        <app-input-field-text [formStatus]="lastNameStatusValue" (formStatusChanged)="lastNameStatusHandler($event)" name="lastName" [(ngModel)]="lastName" [inputType]="'text'"></app-input-field-text>
        <app-error [formStatusValue]=lastNameStatusValue [fieldName]="'lastName'"></app-error>
      </div>
      <div class="col-sm-6">
        <app-label [labelName]="'Email'" [isRequired]="true"></app-label>
        <app-input-field-email [formStatus]="emailStatusValue" (formStatusChanged)="emailStatusHandler($event)"  name="emailAddress" [(ngModel)]="emailAddress"></app-input-field-email>
        <app-error [formStatusValue]=emailStatusValue [fieldName]="'address'"></app-error>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-6">
        <app-label [labelName]="'Address'" [isRequired]="true"></app-label>
        <app-input-field-text [formStatus]="addressStatusValue" (formStatusChanged)="addressStatusHandler($event)" name="address" [(ngModel)]="address" [inputType]="'text'"></app-input-field-text>
        <app-error [formStatusValue]=addressStatusValue [fieldName]="'address'"></app-error>
      </div>
      <div class="col-sm-6">
        <app-label [labelName]="'Mobile'" [isRequired]="true"></app-label>
        <app-input-field-text [formStatus]="mobileStatusValue" (formStatusChanged)="mobileStatusHandler($event)" name="mobileNumber" [(ngModel)]="mobileNumber" [inputType]="'number'" [minLength]="10"></app-input-field-text>
        <app-error [formStatusValue]=mobileStatusValue [fieldName]="'mobileNumber'"></app-error>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-6">
        <app-label [labelName]="'Password'" [isRequired]="true"></app-label>
        <app-input-field-password [formStatus]="passwordStatusValue" (formStatusChanged)="passwordStatusHandler($event)"  name="password" [(ngModel)]="password" ></app-input-field-password>
        <app-error [formStatusValue]=passwordStatusValue [fieldName]="'password'"></app-error>
      </div>
      <div class="col-sm-6">
        <app-label [labelName]="'Confirm Password'" [isRequired]="true"></app-label>
        <app-input-field-password  name="confirm_password" [(ngModel)]="confirm_password" ></app-input-field-password>
        <div *ngIf="confirm_password && password != confirm_password">
          <div class="alert alert-danger"> Confirm Password doesn't match </div>
        </div>
      </div>
    </div>
    <app-button buttonType="submit" buttonValue="Send"></app-button>
  </form>
</div>
